@import "src/client/styles/colors";

.form {
  &-input {
    width: 100%;

    &-wrapper {
      width: 45%;
      position: relative;
    }

    &-label {
      position: absolute;
      top: -8px;
      left: 15px;
      padding: 0 8px;
      font-size: 12px;
      background-color: $color-orange;
      font-weight: 600;
    }

    &-error {
      margin-top: 10px;
      color: $color-text-danger;
    }

    &-date {
      position: absolute;
      top: 10px;
      left: 15px;
      pointer-events: none;
    }
  }
}